.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #54619c;
    height: 100vh;
  }
.loginForm p {
  font-size: 32px;
}

.loginForm .register {
  font-size: 16px;
  margin-bottom: 10px;
}

.loginForm form {
  position: relative;
  z-index: 1;
  background: #424b7d;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  width: 50%;
  height: 35%;
}
.loginForm form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  margin: 0 0 25px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
}
.loginForm form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  margin-top: 20px;
  border: none;
  background: #0969f0;
  color: #ffffff;
  width: 80%;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 9px;
}
.loginForm form button:hover,.loginForm form button:active,.loginForm form button:focus {
  opacity: 50%;
}
.formIsIncorrect {
  color: #5f0804;
  font-weight: 500;
  padding: 5px;
}