.password-item {
    display: flex;
    align-items: center;
}

.password-item input {
  height: 25px;
  border: none;
  margin-left: 3px;
  border-radius: 5px;
  font-size: 16px;
}

.password-item-delete {
  padding: 10px 20px 5px 5px;
  cursor: pointer;
}


.password-form {
    margin-left: 70px;
}